<div class="post mb-5">
  <div class="row">
    <a href=""><img class="avt m-3" src="assets/images/avatar.png" width="60" height="60" alt=""></a>
    <div class="mt-4">
      <span>TatiUser</span>
      <p style="font-size: 12px; color: darkgrey;">2 Hours ago</p>
    </div>
  </div>
  <p class="text-justify p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolor eligendi eos eveniet excepturi illum omnis ullam voluptate. </p>
  <img src="assets/images/post1.jpg"  class="mx-auto w-100 h-50 p-3" alt="">
  <hr class="border border-success">
  <a href=""><img class="m-3" src="assets/images/heart.png" width="30" height="30" alt=""></a>102
  <img onclick="comment()" class="m-3 comm" src="assets/images/comment.png" width="30" height="30" alt="">8
  <div id="comm" style="display: none;">
    <hr class="border border-success">
    <app-comment></app-comment>
  </div>
</div>

