*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.post{
  margin-top: 30px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avt{
  margin-top: 5px;
  margin-left: 5px;
}
.hr{
  margin-top: 30px;
  margin-bottom: 20px;
  border: solid 1px limegreen;
}
.img:hover{
  cursor:pointer;
}
