<div class="post row">
  <a href=""><img class="avt" src="assets/images/avatar.png" width="40" height="40" alt=""></a>
  <form action="" class="col-11 mt-1 ml-3">
    <div class="form-group">
      <textarea class="form-control p-2" style="min-height: 50px" placeholder="Create new post"></textarea>
    </div>
  </form>
  <hr class="w-100 hr">
  <div class="w-100">
      <input class="float-left d-none ml-2" id="file" type="file" accept="image/*">
      <label for="file">
        <img class="img" src="assets/images/photo.png" width="40" alt="">
      </label>
    <input class="btn btn-sm btn-success float-right mr-2 p-1" style="width: 100px;" type="submit" value="Publish">
  </div>
</div>
